<p>Welcome, <%= @user.first_name %>!</p>

<p>To activate your account, just follow <%= link_to 'this link', activate_user_url(@user.activation_token) %>.</p>

<p>Thanks for joining and have a great day!</p>
