<h3 align="center">Editar Registro numero: <%= @manage_user.id %></h3>

<%= render 'form' %>

<%= link_to 'Mostrar', @manage_user, :class => 'btn btn-link' %> |
<%= link_to 'Atras', manage_users_path, :class => 'btn btn-link' %>
