<div id="footer">
  <div class="container">
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Inicio", root_url %></li>
      <li><%= link_to "Ayuda", pages_help_url %></li>
      <li><%= link_to "Contacto", pages_contact_url %></li>
    </ul>
  </div>
</div>
